<nav role="navigation" class="orange">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Project X</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Nothing Yet</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div style="margin-top: 50px;margin-left: 50px;">
    <call-to-action button-text="Login Man!"></call-to-action>
</div>